<form action="/user/create" method="post">
  <label for="">Nombre</label><br>
  <input type="text" name="nombre" required><br>
  <label for="">Apellido</label><br>
  <input type="text" name="lastname" required><br>
  <label for="">DNI</label><br>
  <input type="number" name="dni" required><br>
  <label for="">Email</label><br>
  <input type="email" name="email" required><br>
  <label for="">Contraseña</label><br>
  <input type="text" name="pass" required><br>
  <label for="">Referido</label><br>
  <input type="text" name="referido"><br><br>
  <input type="submit" value="Registrar">
</form>
